@import "_variables";

.footer {
  position: relative;
  min-width: $--content-width-sm;
  padding: 24px 0;
  background-color: $white;

  &__toTop {
    position: absolute;
    top: -26px;
    right: 48px;
    display: inline-block;

    svg {
      width: 32px;
    }
  }

  &__nav {
    .menu-footer-container {
      ul {
        display: flex;
        justify-content: center;
      }

      li {
        font-size: 12px;

        &:not(:first-child) {
          margin-left: 36px;
        }
      }

      a {
        color: $black;
      }
    }
  }

  &__companyCopyrightWrapper {
    font-size: 10px;
    color: $black;
    text-align: center;

    p {
      margin-bottom: 0;
    }
  }
}

@include mq(mobile) {
  .footer {
    min-width: auto;

    &__toTop {
      top: -15px;
      right: 32px;
    }

    &__nav {
      .menu-footer-container {
        ul {
          flex-wrap: wrap;
          width: 88%;
          margin: 0 auto;
        }

        li {
          width: 38%;
          min-width: 120px;
          margin-bottom: 6px;
          text-align: center;

          &:not(:first-child) {
            margin-left: 0;
          }
        }
      }
    }

    &__companyCopyrightWrapper {
      p {
        margin: 24px 0 12px;
      }
    }
  }
}
