@import "_variables";

.animation {
  &__wrapper {
    position: fixed;
    top: 0;
    z-index: 100;
    // z-index: -1; /* ここを消す  */
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    // opacity: 0; /* ここを消す  */
  }

  &__inner {
    position: relative;
    top: 50%;
    width: 720px;
    height: 420px;
    margin: 0 auto;
    transform: translateY(-50%);

    video {
      position: absolute;
      left: 50%;
      display: block;
      width: 720px;
      height: 420px;
      margin: 0 auto;
      transform: translateX(-50%);
    }
  }

  &__fadeout {
    position: absolute;
    bottom: 40px;
    left: 289px;
    z-index: 100;
    width: 142px;
    height: 38px;
    border: none;
    opacity: 0;

    &:hover {
      cursor: pointer;
    }
  }
}

.home {
  &__wrapper {
    padding: 32px 0 56px;
    background-image: url(assets/images/home/global_bg.jpg);
    background-size: cover;
  }

  &__header {
    position: relative;
    max-width: 876px;
    min-height: 552px;
    margin: 0 auto;
    background-image: url(assets/images/home/header@2x.png);
    background-size: cover;
  }

  &__headerGlitter {
    position: absolute;
    bottom: -5%;
    left: -5%;
    z-index: 10;
    width: 30%;
  }

  &__headerIllust {
    position: absolute;
    top: 21%;
    left: 7%;
  }

  &__headerList {
    position: absolute;
    top: 23%;
    left: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 16px;
    grid-column-gap: 16px;
    width: 39%;

    a.home__headerItem {
      color: $white;
    }
  }

  &__headerItem {
    background-color: rgba($color: #cc8bff, $alpha: 0.7);
    border-radius: 10px;

    &:first-child,
    &:nth-child(2) {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 40px 0;
      text-align: center;
    }
  }

  &__headerItemIllust {
    position: absolute;

    &.-about {
      width: 50%;
      height: 42%;
    }

    &.-mutter {
      top: 0;
      left: 0;
    }
  }

  &__headerItemText {
    line-height: 1.2;
  }

  &__headerHeading {
    font-family: "Open Sans", sans-serif;
    text-align: center;
    letter-spacing: 2px;
  }

  &__headerMutter {
    display: flex;
    margin: 12px auto 0;

    .wp-post-image {
      width: 144px;
      height: 110px;
      object-fit: cover;
    }
  }

  &__headerMutterMeta {
    width: 100%;
    margin-left: 10px;
  }

  &__headerMutterHeading {
    display: -webkit-box;
    overflow: hidden;
    font-size: 15px;
    font-weight: 600;
    color: $black;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }

  &__headerMutterExcerpt {
    display: -webkit-box;
    margin: 4px 0 0;
    overflow: hidden;
    font-size: 13px;
    line-height: 1.3;
    color: $black;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }

  &__headerMutterMore {
    display: block;
    margin-top: 6px;
    font-size: 12px;
    font-weight: 600;
    text-align: right;
  }

  &__sectionHeading {
    font-family: "Open Sans", sans-serif;
    font-size: 25px;
    font-weight: 400;
    color: $black;
    text-align: center;
    letter-spacing: 2px;
  }

  &__information {
    margin-top: -32px;
  }

  &__informationItem {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    color: $black;
  }

  &__informationArticle {
    width: 42%;
    margin: 24px auto 0;
  }

  &__informationDate {
    min-width: 80px;
    font-size: 12px;
  }

  &__informationLink {
    margin-left: 32px;
    overflow: hidden;
    font-size: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__informationTitle {
    color: $black;
  }

  &__onstage {
    margin: 40px 0 0;
    text-align: center;
  }

  &__onstageImage {
    width: 50%;
  }

  &__newPost {
    position: relative;
    margin-top: 48px;
  }

  &__newPostBackground {
    position: absolute;
    top: -8px;
    left: 50%;
    width: 84%;
    max-width: 876px;
    transform: translateX(-50%);
  }

  &__newPostList {
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: center;
    width: 80%;
    max-width: 740px;
    margin: 8px auto 0;
  }

  &__newPostItem {
    width: 100%;

    &:first-child {
      margin-top: 112px;
    }

    &:nth-child(2) {
      margin-top: 56px;
    }

    &:not(:first-child) {
      margin-left: 24px;
    }
  }

  &__newPostTitle {
    max-width: 240px;
    overflow: hidden;
    font-weight: 600;
    color: #ff99e0;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__newPostLink {
    .wp-post-image {
      width: 100%;
      height: 170px;
      margin-top: 8px;
      border-radius: 15px;
      object-fit: cover;
    }
  }

  &__newPostExcerpt {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;

    p {
      margin: 8px 0 0;
      font-size: 13px;
      color: $black;
    }
  }

  &__memberMenu {
    min-height: 400px;
    margin-top: 88px;
  }

  &__memberMenuList {
    position: relative;
    width: 62%;
    max-width: 700px;
    margin: 0 auto;
  }

  &__memberMenuItem {
    position: relative;
    max-width: 170px;

    &.-column {
      top: -50px;
      left: -8px;
    }

    &.-diary {
      top: 80px;
      left: 20%;
    }

    &.-live {
      top: 32px;
      left: 54%;
    }

    &.-qa {
      top: -88px;
      left: 79%;
    }
  }

  &__memberMenuText {
    padding: 2px 12px;
    font-size: 15px;
    color: $black;
    background-color: $white;
  }

  &__memberMenuLink {
    position: absolute;
    width: 100%;
  }

  &__memberMenuImage {
    &.-column {
      width: 100%;
    }

    &.-diary {
      width: 100%;
    }

    &.-live {
      width: 84%;
    }
  }

  &__memberMenuShadow {
    position: absolute;
    mix-blend-mode: color-burn;

    &.-column {
      top: 150px;
      left: 56px;
    }

    &.-diary {
      top: 106px;
      left: 2%;
    }

    &.-live {
      top: 105px;
      left: -13%;
    }

    &.-qa {
      top: 129px;
      left: -13%;
    }
  }

  &__memberMenuText {
    position: absolute;

    &.-column {
      bottom: 64px;
      left: -12px;
    }

    &.-diary {
      top: 34px;
      right: -12px;
    }

    &.-live {
      bottom: 64px;
      left: -12px;

      span {
        display: inline-block;
      }
    }

    &.-qa {
      bottom: 64px;
      left: -12px;
    }
  }

  &__memberMenuStreamText {
    position: absolute;
    right: 17%;
    bottom: 30px;
    text-align: center;
  }

  &__memberMenuStream {
    padding: 2px 12px;
    font-size: 15px;
    color: #333333;
    background-color: #ffffff;

    &.-top {
      display: inline-block;
    }

    &.-bottom {
      display: block;
      width: 98px;
      margin: 0 auto;
    }
  }

  &__followList {
    display: flex;
    justify-content: center;
    margin-top: 24px;
  }

  &__followItem {
    &:not(:first-child) {
      margin-left: 24px;
    }

    &.-column {
    }
  }

  &__followIcon {
    svg {
      width: 28px;
    }
  }
}

#home__headerMutterWrapper {
  position: relative;
  grid-column: 1 / 3;
  padding: 20px 12px 12px 16px;
}

@include mq(mobile) {
  .animation {
    &__wrapper {
      z-index: 200;
    }

    &__inner {
      top: 10%;
      width: 285px;
      height: 500px;
      transform: translateY(0);
    }

    &__fadeout {
      bottom: 132px;
      left: 87px;
      width: 111px;
      height: 30px;
    }
  }

  .home {
    &__wrapper {
      padding: 50px 0;
      background-image: url(assets/images/home/global_bg-sp.jpg);
      background-position: 0 50px;
    }

    &__header {
      max-width: none;
      min-height: 780px;
      background-image: url(assets/images/home/header-sp@2x.png);
    }

    &__headerList {
      top: 46%;
      left: 6%;
      width: 88%;
    }

    &__headerItem:first-child,
    &__headerItem:nth-child(2) {
      padding: 36px 0;
    }

    &__headerItemIllust {
      &.-about {
        height: 38%;
      }

      &.-mutter {
        height: 100%;
      }
    }

    &__sectionHeading {
      font-size: 20px;
    }

    &__information {
      margin-top: 0;
    }

    &__informationArticle {
      width: 100%;
      padding: 0 24px;
    }

    &__informationItem {
      flex-direction: column;
      align-items: flex-start;
    }

    &__informationLink {
      width: 100%;
      margin-left: 0;
    }

    &__onstage {
      margin: 48px auto 0;
    }

    &__onstageImage {
      width: 92%;
    }

    &__newPostBackground {
      top: 7vw;
      width: 100%;
    }

    &__newPostList {
      flex-direction: column;
      width: 82%;
    }

    &__newPostItem {
      width: 70%;

      &:first-child {
        margin-top: 6vw;
      }

      &:nth-child(2) {
        width: 70%;
        margin: 6vw 0 0 auto;
      }

      &:nth-child(3) {
        width: 70%;
        margin: 6vw 0 0;
      }
    }

    &__newPostTitle {
      font-size: 15px;
    }

    &__newPostLink {
      .wp-post-image {
        width: 212px;
        height: 160px;
      }
    }

    &__newPostExcerpt {
      p {
        margin: 4px 0 0;
      }
    }

    &__memberMenu {
      min-height: 240px;
    }

    &__memberMenuLink {
      &.-column {
        width: 22.4vw;
      }

      &.-diary {
        width: 26.7vw;
      }

      &.-live {
        width: 21.1vw;
      }

      &.-qa {
        width: 21.3vw;
      }
    }

    &__memberMenuList {
      width: 80%;
    }

    &__memberMenuItem {
      width: 10vw;

      &.-diary {
        top: 10vw;
        left: 10vw;
      }

      &.-live {
        top: 14vw;
        left: 45vw;
      }

      &.-qa {
        top: -13vw;
        left: 61vw;
      }
    }

    &__memberMenuImage {
      width: 100%;

      &.-column,
      &.-diary,
      &.-live,
      &.-qa {
        width: 100%;
      }
    }

    &__memberMenuText {
      padding: 0 4px;
      font-size: 11px;

      &.-column {
        bottom: 32px;
      }

      &.-diary {
        top: 5vw;
        right: -4vw;
      }

      &.-qa {
        bottom: 13vw;
        left: -2vw;
      }
    }

    &__memberMenuShadow {
      &.-column {
        top: 19vw;
        left: 2vw;
        width: 76%;
      }

      &.-diary {
        top: 16vw;
        left: 4%;
        width: 100%;
      }

      &.-live {
        top: 17vw;
        left: -1vw;
        width: 100%;
      }

      &.-qa {
        top: 19vw;
        left: -1vw;
        width: 100%;
      }
    }

    &__memberMenuStream {
      padding: 0 4px;
      font-size: 11px;

      &.-bottom {
        width: 64px;
      }
    }

    &__memberMenuStreamText {
      right: -3vw;
      bottom: 5vw;
    }

    &__followItem {
      &:not(:first-child) {
        margin-left: 15vw;
      }
    }
  }
  #home__headerMutterWrapper {
    padding: 16px 12px 12px 16px;
  }
}
