@import "_variables";

.site-logo {
  width: 270px;
  margin: 48px auto 0;
}

#wrapper {
  position: relative;
  overflow: auto;
}

.-en {
  font-family: "Open Sans", sans-serif;
}

@include mq(mobile) {
  .site-logo {
    width: 38%;
    margin: 6px 0 0 16px;
  }

  #main-contents .cps-post {
    margin-top: 48px;
  }
}
