@import "_variables";

.page-id-116 {
  .wpcf7 {
    width: 100%;
    padding: 30px 30px 0 !important;
    margin: 0 auto !important;
  }

  .cps-post-main {
    padding: 0;

    p {
      padding-bottom: 0;
      margin-bottom: 24px;
    }
  }

  .form-name {
    input {
      max-width: 300px;
      margin-bottom: 4px !important;
    }
  }

  .cps-post-main-box {
    h2 {
      padding: 0;
      margin: 56px 0 8px;
      font-family: "Open Sans", sans-serif;
      font-size: 18px;
      font-weight: 400;
      color: #333333;
      letter-spacing: 1px;
      background-color: transparent !important;
    }
  }

  form {
    p {
      margin-bottom: 12px !important;
    }
  }

  .form-block {
    margin-bottom: 16px;
  }

  .form-label {
    display: block;
    margin-bottom: 8px;
  }

  input {
    max-width: 300px;
    padding: 7px 10px;
    margin-bottom: 4px;
    border: 1px solid #cccccc;
  }

  span.wpcf7-list-item {
    margin: 0 0 6px 0;
  }

  input[type="submit"] {
    padding: 12px 64px;
    margin: 40px auto 0;
    background-color: $--color-primary;
    border: none;
  }

  .wpcf7-form input[type="submit"]:hover {
    background-color: $--color-primary;
    border: none;
  }

  .cps-post-main a {
    color: $black;
    text-decoration: none;
  }

  .cf7pp_row {
    display: block;
    margin-bottom: 12px;
  }

  #stripe-submit {
    display: block;
    margin: 16px auto 0;
    color: $white;
  }

  #cf7pp-payment-form {
    padding-bottom: 30px;
  }

  #stripe-submit:hover {
    cursor: pointer;
  }

  p.bank-transfer__detail {
    padding: 30px !important;
    margin-bottom: 12px;
  }

  label[for="cf7pp_stripe_credit_card_zip"],
  #cf7pp_stripe_credit_card_zip {
    display: none;
  }

  .wpcf7 form.invalid .wpcf7-response-output {
    margin-top: 0;
    border-color: #d7aaf5;
  }
}

@include mq(mobile) {
  .wpcf7 {
    .cf7pp_details_input {
      margin-bottom: 12px;
    }
  }
}
