// Border
// $border-radius-regular: 4px;
// $border-width-regular: 1px;

// hover Opacity Rule
// $--hover-opacity: 0.6;

// Color Rule
$--color-primary: #ff99e0;

$white: #ffffff;
$black: #333333;

// Width Rule
$--content-width-xxs: 480px;
$--content-width-xs: 769px;
$--content-width-sm: 1000px;
$--content-width-md: 1100px;
$--content-width-xl: 1280px;

// media-query
$breakpoints: (
  "mobile": "screen and (max-width: 480px)",
  "pc": "screen and (min-width: 481px)",
);

@mixin mq($breakpoint: pc) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}
